.card {
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
    background-color: $color-amarillo;

    img {
        width: 100%;
        margin: 15px;
    }

    h5 {
        margin: 16px;
    }
}

.card-button {
    text-decoration: none;
    color: $color-negro;
    display: inline-block;
    padding: 15px;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 6px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}