.containerPortada {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    gap: 15px;
    text-align: center;
    align-self: center;
}

.imgPortada {
    display: block;
    width: 100%;
}

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-amarillo;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;

    button {
        background-color: $color-grisoscuro;
        color: $color-negro;
        border: none;
        padding: 10px 20px;
        font-size: map-get($font-sizes, m);
        margin-top: 10px;
    }
}