@media (max-width:1024px) {
    .containerPortada{
        grid-template-columns: 1 fr 1fr;
    }
    
    img {
        width: 75%;
        height: 75%;
    }

    main{
        p{
            font-size: map-get($font-sizes, m);
        }
    }

    iframe{
        width: 75%;
        height: 75%;
    }

    footer{
        p{
            font-size: map-get($font-sizes , xs);
            flex-direction: column;
            align-items: center;
        }
    }
    
}

@media (max-width:768px) {
    .containerPortada {
        grid-template-columns: 1fr;
    }

    img{
        width: 50%;
        height: 50%;
    }

    main{
        p{
            font-size: map-get($font-sizes, xs );
        }
    }

    iframe{
        width: 50%;
        height: 50%;
    }

    footer{
        p{
            font-size: map-get($font-sizes, xss);
            flex-direction: column;
            align-items: center;
        }
    }
    
}